USE [master]
GO
/****** Object:  Database [dbcoffee]    Script Date: 26/07/2020 8:53:20 PM ******/
CREATE DATABASE [dbcoffee]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbcoffee', FILENAME = N'E:\SQL_SERVEER\MSSQL12.MSI\MSSQL\DATA\dbcoffee.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbcoffee_log', FILENAME = N'E:\SQL_SERVEER\MSSQL12.MSI\MSSQL\DATA\dbcoffee_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbcoffee].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbcoffee]
GO
/****** Object:  Table [dbo].[tbbill]    Script Date: 26/07/2020 8:53:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbbill](
	[billID] [varchar](30) NOT NULL,
	[productID] [int] NULL,
	[qty] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[billID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbcoffeetype]    Script Date: 26/07/2020 8:53:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbcoffeetype](
	[typeid] [int] NOT NULL,
	[typename] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[typeid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbemployee]    Script Date: 26/07/2020 8:53:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbemployee](
	[empid] [int] NOT NULL,
	[name] [nvarchar](30) NOT NULL,
	[surname] [nvarchar](30) NOT NULL,
	[sex] [nvarchar](10) NOT NULL,
	[address] [nvarchar](50) NOT NULL,
	[tel] [varchar](15) NOT NULL,
	[email] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[empid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbproduct]    Script Date: 26/07/2020 8:53:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbproduct](
	[proid] [int] NOT NULL,
	[proname] [nvarchar](30) NOT NULL,
	[uid] [int] NOT NULL,
	[typeid] [int] NOT NULL,
	[imprice] [int] NOT NULL,
	[saleprice] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[proid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbsale]    Script Date: 26/07/2020 8:53:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbsale](
	[billid] [int] NOT NULL,
	[empid] [int] NULL,
	[date] [date] NULL,
	[qty] [int] NOT NULL,
	[total] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[billid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbsaledetail]    Script Date: 26/07/2020 8:53:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbsaledetail](
	[id] [int] NULL,
	[billid] [int] NOT NULL,
	[proid] [int] NOT NULL,
	[qty] [int] NOT NULL,
	[saleprice] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbunit]    Script Date: 26/07/2020 8:53:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbunit](
	[uid] [int] NOT NULL,
	[uname] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK__tbunit__DD7012647D3F8A63] PRIMARY KEY CLUSTERED 
(
	[uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
